<h2>News</h2>
<hr>

<div class="row">
  <div class="col-md-12">

    <input class="form-control newsSearch"
           placeholder="search news by headline"
           type="text"
           [(ngModel)]="searchCar">

    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let oneNews of news | newsFilter:searchCar:'headLine';
          let i = index ">
        <a [routerLink]="['/news' , oneNews.id, oneNews.headLine]">
          <b>{{i+1}}.</b> {{oneNews.headLine}}
        </a>
      </li>
    </ul>
  </div>

  <div class="divider"></div>

  <button class="btn btn-secondary" (click)="showNewsFromNewsService()">
    showNewsFromNewsService
  </button>


  <input class="form-control typeId"
         placeholder="type id of news and press button below"
         type="number"
         [(ngModel)]="oneNewsId">

  <button class="btn alert-danger" (click)="getOneNewsFromServiceById(oneNewsId)">
    showOneNewsFromNewsService
  </button>

  <div class="divider"></div>

  <button class="btn alert-heading" (click)="getOneNewsFromServiceById(oneNewsId)">
    add another News (one Item)
  </button>


</div>

