<h2>Main page</h2>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  Architecto atque corporis culpa cum debitis deserunt dolore
  ea excepturi fuga, fugiat ipsam iure maiores minus molestiae perspiciatis, ratione sit temporibus ut.
</p>

<button class="btn btn-primary" (click)="openNewsPage()">
  Open news page
</button>

<button class="btn btn-secondary" (click)="loadNewsInNewsService()">
  loadNewsInNewsService
</button>
<button class="btn btn-secondary" (click)="showNewsFromNewsService()">
  showNewsFromNewsService
</button>

<br>
<input class="form-control typeId"
       placeholder="one news id"
       type="number"
       [(ngModel)]="oneNewsId">
<button class="btn alert-danger" (click)="getOneNewsFromServiceById(oneNewsId)">
  showOneNewsFromNewsService
</button>
